<div class="container">
  <header class="jumbotron">
  </header>
  <button (click)="getUsers()">Click liste des utilisateurs du sites</button>
  <table class="table table-primary table-striped">
    <thead>

    <tr>
      <th scope="col">#</th>
      <th scope="col">Speudo</th>
      <th scope="col">Age</th>
      <th scope="col">Type Famille</th>
      <th scope="col">Ethnie</th>
      <th scope="col">Favorie</th>
    </tr>
    </thead>
    <tr *ngFor="let key of data ; let i = index;">
      <th scope="row">{{i}}</th>
      <td>{{key.username}}</td>
      <td>{{key.age}}</td>
      <td>{{key.famille}}</td>
      <td>{{key.races}}</td>
      <td>
        <button type="button" class="btn btn-outline-warning">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill"
               viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
          </svg>
        </button>
      </td>
    </tr>
  </table>

</div>

